[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
psycopg2 = "==2.8.1"
django-elasticsearch-dsl = "==0.5.1"
djangorestframework = "==3.9.2"
pyexcel = "==0.5.13"
pyexcel-io = "==0.5.17"
Django = "==2.2"
jupyter = "*"
pandas = "*"
pyelasticsearch = "*"
requests = "*"
elasticsearch = "*"
elasticsearch-dsl = "*"
validate-email = "*"
django-utils-six = "*"

[requires]
python_version = "3.8"
